
body {
margin: 0em;}

h1 {
font-size: 3em;
font-family: monospace;
margin: 0px;
}
h2 {
font-size: 2em;
font-family: monospace;
}
h3 {
font-size: 1em;
font-family: monospace;
}

p {
font-family: "monospace";
}

footer{
}

/* id titol del pàgina */

#page_title {
    padding: 1em;
    font-size: 1.5em;
    padding: 0;
}

#resum { 
    padding-left: 26px;
}

.post {
background: #f4f2ff;
padding-left: 28px;
padding-top: 23px;
padding-bottom: 23px;
border-top-width: 9px;
margin-bottom: 23px;
margin-right: 10px;
margin-left: 10px;
border-radius: 35px;

}

.post_content{
    margin-top: 0px;
    padding-top: 14px;
    color: #0a1176;
}

.post_title{
	margin-top:0px;
}

.post_subtitle{
    margin-top: 4px;
    margin-left: 0.3em;
    color: #393297;
}

#posts {
margin-left: 10px;
}

nav {
	display: flex;
	align-items: center;
    font-size: 1.2em;
    margin:1em;
    background: #000;
    padding:0.6em;
    padding-left:0.6em;
}

nav a{
    color:white;
    font-weight:500;
    font-family:monospace;
    padding:1em;
}

li {
    font-family:monospace;
    color:#240858ad;
}

footer{
    color: white;
    font-family: monospace;
    margin: 0px;
    background-color: black;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
