<nav>
<img src="/images/icon.png" alt="Curs 3D per artistes" title="Curs 3D per artistes" style="
    margin-top: -3px;
    margin-bottom: -7px;
">
<a href="/">home</a>
<a href="/curs/">Curs</a>
<a href="/documentacio/">Documentació</a>
<a href="/about/">About</a>
</nav>
