<!doctype html>
<html lang="ca">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	
	{% include navegacio_nav.html %}
	
	<div id="resum">
		<div id="page_title">
			<h1>{{ page.title }}</h1>
		</div>
		<div id="page_content">
			<p>{{ page.content }}</p>
		</div>
	</div>
	<div id="posts">
		<section>
			{% for post in site.posts %}
			<div class="post">
				<div class="post_title">
					<h1>{{ post.title }}</h1>
				</div>
				<div class="post_subtitle">
					<h3>exercici publicat per {{ post.author }} // {{ post.date }}</h3>
				</div>
				<div class="post_content">
					{{ post.content }}
				</div>
			</div>
			{% endfor %}
		</section>
	</div>
	
	{% include peu.html %}
  
</body>
</html>
