<!doctype html>
<html lang="ca">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
  <body>
	  
	{% include navegacio_nav.html %}
	
	<div id="resum">
		<div id="page_title">
			<h1>{{ page.title }}</h1>
		</div>
		<div id="page_content">
			{{ content }}
		</div>
	</div>
	
	{% include peu.html %}

</body>
  
</html>
